{% extends 'account/base_account.html' %}
{% load static %}

{% block content %}

    <div class="login-box card" >
        <div class="card-body">
            <form class="form-horizontal form-material" id="loginform" method="post">

                {% csrf_token %}

                <h3 class="box-title m-b-20">سامانه آموزشی محاسبات عددی</h3>
                <br>

                <h4 class="box-title m-b-20" style="color: red">بازیابی کلمه عبور</h4>

                <br>
                <br>
                <input type="email" name="email" autocomplete="email" maxlength="254" placeholder="آدرس ایمیل"class="emailinput form-control" required="" id="id_email">
                <br>
                <br>
                <br>

                <button type="submit" class="btn btn-primary btn-block">تنظیم مجدد</button>

                <br>
                <div class="form-group m-b-0">
                    <div class="col-sm-12 text-center">
                        <br>
                        <br>
                        <div>هنوز حساب کاربری ندارید؟! <a href="{% url 'register' %}" class="text-info m-l-5"><b style="color: indianred">ایجاد کنید... :)</b></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>





{#    <div class="card">#}
{#        <div class="card-body">#}
{#            <h4 class="card-title">Reset your password</h4>#}
{#            <form method="post">#}
{#                {% csrf_token %}#}
{#                <input type="hidden" name="next" value="{{ next }}">#}
{#                {{ form|crispy }}#}
{#                <button type="submit" class="btn btn-primary btn-block">Reset</button>#}
{#            </form>#}
{#        </div>#}
{#    </div>#}

{% endblock %}