{% extends 'account/base_account.html' %}
{% load static %}

{% block content %}

    <div class="login-box card">
        <div class="card-body">

            <h3 class="box-title m-b-20">سامانه آموزشی محاسبات عددی</h3>
            <br>

            <h4 class="box-title m-b-20" style="color: red">اتمام بازیابی کلمه عبور</h4>

            <div>
                کلمه عبور شما تغییر داده شد.
                حال می‌توانید با کلمه عبور جدید وارد سامانه شوید
                <br>
                <br>

                <a href="{% url 'login' %}">ورود به سامانه</a>
            </div>
        </div>
    </div>

{% endblock %}