{% extends 'account/base_account.html' %}
{% load static %}

{% block content %}

    <div class="login-box card">
        <div class="card-body">

            <h3 class="box-title m-b-20">سامانه آموزشی محاسبات عددی</h3>
            <br>

            <h4 class="box-title m-b-20" style="color: red">بازیابی کلمه عبور</h4>

            <div>
                ایمیل بازیابی کلمه عبور ارسال گردید.
                <br>
                دستورالعمل‌های لازم را برای بازیابی کلمه عبور برای شما توسط ایمیل ارسال شده است.
                <br>
                اگر برای ایمیل فوق یک حساب کاربری وجود داشته باشد، بزودی ایمیل را دریافت خواهید کرد.
                <br>
                اگر ایمیلی دریافت نکرده‌اید، مطئمن شوید که آدرس ایمیل ثبت شده برای نام کاربری خود را وارد کرده باشید،
                و پوشه اسپم خود را نیز بازدید کنید.

            </div>
        </div>
    </div>

{% endblock %}