{% extends 'base_dashboard.html' %}
{% load static %}

{% block content %}
    <h2>
        <p class=MsoNormal align=left dir=RTL style='margin-top:0cm;margin-right:0cm;
    margin-bottom:11.75pt;margin-left:7.35pt;text-align:right;text-indent:0cm;
    line-height:107%'><b><span lang=AR-SA style='line-height:107%;font-family:"B Titr"'>اهميت آموزش رياضی</span></b></p>
    </h2>
    <br>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" style="filter: invert(1)" data-slide-to="0"
                class="active"></li>
            <li data-target="#carouselExampleIndicators" style="filter: invert(1)" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" style="filter: invert(1)" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" style="filter: invert(1)" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <img class="img-circle"
                                 src="{% static 'images/intro/GeorgePólya1.jpg' %}"
                                 style="width: 100px;height:100px;" alt="128">
                        </div>
                        <div class="col-sm-9">
                            <p>
                                تدريس، يك علم نيست، بلكه يك هنر است. اگر تدريس يك علم بود، بهترين روش تدريس وجود داشت و
                                همه بايد مانند آن تدريس می‌كردند.
                            </p>
                            <small>جورج پولیا</small>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="carousel-item">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <img class="img-circle"
                                 src="{% static 'images/intro/DrRajabzadeh.jpg' %}"
                                 style="width: 100px;height:100px;" alt="128">
                        </div>
                        <div class="col-sm-9">
                            <p>
                                عدم وجود روش تدریس مناسب در علم رياضی مهمترین مشكل یادگیری این علم در میان دانش‌آموزان و
                                دانشجویان است.
                            </p>
                            <small>دکتر محمدرضا رجب‌‌زاده مقدم</small>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="carousel-item">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <img class="img-circle"
                                 src="{% static 'images/intro/GeorgePólya2.jpg' %}"
                                 style="width: 100px;height:100px;" alt="128">
                        </div>
                        <div class="col-sm-9">
                            <p>
                                يادگيری با عمل و آگاهی شروع می‌شود، به كلمات و مفاهيم می‌رسد و بايد به عادتهای ذهنی خوب،
                                ختم شود.
                            </p>
                            <small>جورج پولیا</small>
                        </div>
                    </div>
                </blockquote>
            </div>
            <div class="carousel-item">
                <blockquote>
                    <div class="row">
                        <div class="col-sm-3 text-center">
                            <img class="img-circle"
                                 src="{% static 'images/intro/ImmanuelKant.jpg' %}"
                                 style="width: 100px;height:100px;" alt="128">
                        </div>
                        <div class="col-sm-9">
                            <p>
                                «تمام شناخت انسان، با شهود آغاز مي شود، سپس به فهم و درك منجر شده، و بالاخره به ايده ها
                                ختم مي‌شود.»
                            </p>
                            <small>ایمانوئل کانت</small>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" style="background-color: black; filter: invert(1)"
                          aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" style="background-color: black; filter: invert(1)"
                          aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <br>
    <br>

    <div>



        <p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:9.05pt;
margin-bottom:6.0pt;margin-left:2.55pt;text-indent:33.15pt;line-height:150%'>
            <span lang=FA style='line-height:150%;'>آموزش دروس مختلف رياضي دو گونه هدف را دنبال مي</span>
            <span lang=FA style='line-height:150%;'>‌</span>
            <span lang=FA style='line-height:150%;'>كند.
هدف ابتدايي آموزش يك سري توانايي‌هاي محاسباتي به شخص يادگيرنده مي‌باشد. با اين حال،
يك هدف متعالي‌تر نيز وجود دارد و آن پرورش قدرت‌های ذهني فرد است و نقشي كه رياضي
بازي مي‌كند، بيشتر درباره تفكر است. فهميدن رياضي به معني انجام دادن رياضي است و
در وهله اول انجام دادن رياضي، به معني حل مسائل رياضي است و براي اهداف متعالي‌تر
داشتن يك طرز تلقي صحيح نسبت به مسائل و توانايي حمله به همه نوع مسئله، نه فقط مسائل
ساده دبستاني بلكه مسائل پيچيده‌تر مهندسي، فيزيك و غيره. </span></p>

        <p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:9.05pt;
margin-bottom:6.0pt;margin-left:2.55pt;text-indent:33.15pt;line-height:150%'><span
                lang=AR-SA style='line-height:150%;'>دانشجويان براي درك و
فهم هر بيشتر دروس، از روشها و منابع مختلفي بهره می‌برند، مانند: كلاس‌هاي حضوری،
كتب مرجع، جزوات اساتيد و كلاسهاي حل تمرين. هر چه اين منابع و روشها   غني‌تر باشد،
كيفيت آموزشي بالاتر رفته و دانشجو مطالب را با كيفيت بيشتري فرا می‌گیرد.  </span></p>

        <p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:9.05pt;
margin-bottom:6.0pt;margin-left:2.55pt;text-indent:33.15pt;line-height:150%'><span
                lang=AR-SA style='line-height:150%;'>مسئله بسيار مهم بعدي
استرس ناشي از امتحانات است. دانشجويان عموماً قبل از امتحانات، برآوردي از ميزان آمادگي
خويش براي حضور در جلسه ندارند و با استرس زياد در جلسه حاضر مي‌شوند، كه اين استرس
خود باعث افت كيفيت آزمون مي‌گردد. در نتيجه در صورت عدم قبولي در آزمون نه تنها دانشجو
دچار عقب ماندگي تحصيلي و هدر رفتن سرمايه  مي‌گردد، بلكه  مشكلات روحي و رواني ناشي
از شكست (چه از جانب خويش و يا از جانب خانواده و دوستان) نيز گريبان وي را نيز خواهد
گرفت.  </span></p>

        <p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:9.05pt;
margin-bottom:6.0pt;margin-left:2.55pt;text-indent:33.15pt;line-height:150%'><span
                lang=AR-SA style='line-height:150%;'>درس </span><b><span
                lang=AR-SA style='font-size:12.0pt;line-height:150%;'>محاسبات
عددي</span></b><span lang=AR-SA style='line-height:150%;'>
بعنوان يكي از دروس مهم و كاربردي در رشته‌هاي مختلف علوم پايه و مهندسي است، كه به
جنبه كاربردي دروس رياضي پيشنياز خود (رياضيات عمومي و معادلات ديفرانسيل)   مي‌پردازد.
در اين درس نه تنها بايد از پايه رياضي جامعي برخوردار بود، بلكه بايد دانشجو از معلومات
کامپیوتری مناسبي نيز برخوردار باشد. آموزش بهتر اين درس موجب كارآمدي هر چه بيشتر
دانشجويان در بازار كار مي‌گردد.  </span></p>

        <p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:9.05pt;
margin-bottom:6.0pt;margin-left:2.55pt;text-indent:33.15pt;line-height:150%'><span
                lang=AR-SA style='line-height:150%;'>با ارتقاي كيفيت آموزشي
ناشي از امكانات </span><span dir=LTR></span><span dir=LTR style='font-size:
12.0pt;line-height:150%;font-family:"Times New Roman",serif'><span dir=LTR></span>(Computer</span><span
                dir=LTR style='font-size:12.0pt;line-height:150%;font-family:"Cambria Math",serif'>‐</span><span
                dir=LTR style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman",serif'>Based
Training) </span><span dir=LTR style='font-size:12.0pt;line-height:150%;
font-family:"Times New Roman",serif'> </span><span dir=LTR style='font-size:
12.0pt;line-height:150%;font-family:"Times New Roman",serif'>CBT</span><span
                dir=RTL></span><span lang=AR-SA style='line-height:150%;'><span
                dir=RTL></span>، ميزان درك و جذب مطلب را توسط دانشجو ارتقاء داده و دانشجو مي‌تواند
از توانايي‌هاي متنوع سيستم (متن، انيميشن، صوت، فيلم) براي امر آموزش به نحو احسن
استفاده نماید.</span><span lang=AR-SA style='line-height:150%;'>
</span><span lang=AR-SA style='line-height:150%;'>در اين
نوع آموزش زمان نقش مستقلي دارد و دانشجويان در هر زماني كه برايشان مناسب باشد، مي‌توانند
به آموزش بپردازند. نكته قابل توجه اين است كه دانشجو مي تواند به دفعات از اين منبع
استفاده نمايد.  </span></p>

        <p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:9.05pt;
margin-bottom:6.0pt;margin-left:2.55pt;text-indent:33.15pt;line-height:150%'><span
                lang=AR-SA style='line-height:150%;'>با استفاده از آزمونهاي
سيستماتيك </span><span dir=LTR style='font-size:12.0pt;line-height:150%;
font-family:"Times New Roman",serif'>Computer</span><span dir=LTR
                                                          style='font-size:12.0pt;line-height:150%;font-family:"Cambria Math",serif'>‐</span><span
                dir=LTR style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman",serif'>Based
</span><span dir=LTR style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman",serif'>Testing</span><span
                dir=LTR style='font-family:"Times New Roman",serif'>)</span><span dir=LTR
                                                                                  style='font-size:11.0pt;line-height:150%;font-family:"Times New Roman",serif'> </span><span
                dir=LTR style='font-size:12.0pt;line-height:150%;font-family:"Times New Roman",serif'>CBT</span><span
                dir=RTL></span><span lang=AR-SA style='line-height:150%;'><span
                dir=RTL></span>)</span><sup><span lang=AR-SA style='line-height:150%;
'> </span></sup><span lang=AR-SA style='line-height:
150%;'>، مي‌توان دانشجو را در برآورد سطح علمي خويش ياري نمود.
اين سبك آزمون در دانشجويان، نوعي خودآگاهي و اعتماد به نفس ايجاد  مي‌كند كه باعث
تقويت حس مسئوليت‌پذيري در آن‌ها براي آنچه كه ياد  مي‌گيرند، مي‌شود. آنگاه وي مي‌تواند
با آرامش خاطر بيشتري در جلسه آزمون حضور بهم رساند و از موفقيت خويش مطمئن باشد. 
</span></p>

        <p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:9.05pt;
margin-bottom:6.0pt;margin-left:2.55pt;text-indent:33.15pt;line-height:150%'><span
                lang=AR-SA style='line-height:150%;'>اميد است سامانه حاضر
به عنوان اولين گام، بتواند نقش موثري در آموزش رياضيات داشته باشد.  </span></p>

        <p class=MsoNormal dir=RTL style='margin-top:0cm;margin-right:9.05pt;
margin-bottom:6.0pt;margin-left:2.55pt;text-indent:33.15pt;line-height:150%'><span
                lang=AR-SA style='line-height:150%;'>كليه نظرات خويش را در
جهت بهبود اين مجموعه مي‌توانيد به آدرس‌هاي زير ارسال نماييد.  </span></p>

        <p class=MsoNormal align=left dir=RTL style='margin-top:0cm;margin-right:49.35pt;
margin-bottom:0cm;margin-left:77.2pt;margin-bottom:.0001pt;text-align:right;
text-indent:0cm;line-height:141%'><span lang=AR-SA style='line-height:141%;
'>دکتر شهناز محمدی مجد:  </span><span dir=LTR
                                                             style='font-size:12.0pt;line-height:141%;font-family:"Times New Roman",serif'>shahnazmajd69@gmail.com</span><span
                dir=LTR style='font-family:"Times New Roman",serif'> </span></p>

        <p class=MsoNormal align=left dir=RTL style='margin-top:0cm;margin-right:49.35pt;
margin-bottom:0cm;margin-left:77.2pt;margin-bottom:.0001pt;text-align:right;
text-indent:0cm;line-height:141%'><span lang=AR-SA style='line-height:141%;
'>مهندس محمدعلی کاشی:</span><span lang=AR-SA
                                                         style='line-height:141%;'>  </span><span
                dir=LTR
                style='font-size:12.0pt;line-height:141%;font-family:"Times New Roman",serif'>ma.kashi@kisoc.ir</span><span
                dir=LTR style='font-family:"Times New Roman",serif'> </span></p>

    </div>


{% endblock %}