{% extends 'base_dashboard.html' %}
{% load static %}

{% block content %}

    <!-- Windows Calculators-->
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <h2 class="d-inline">ماشین‌حساب‌های تحت Windows
            </h2>
        </div>
    </div>
    <br>
    <!-- Row -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <div class="embed-responsive" style="width: 80%; height: 80%; object-fit: cover; align-self: center">
                    <img class="card-img-top img-responsive" src="{% static 'images/tools/fxCalc 4.9.1.1.png' %}"
                     alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">fxCalc 4.9.1.1</h4>
                    <p class="card-text">
                        یک ماشین حساب پیشرفته و
                        جایگزینی برای ماشین حساب قدیمی ویندوز میباشد. زمان اجرای این نرم افزار شما یک ماشین حساب
                        با پنجره ساده را مشاهده میکنید که نرم افزار این امکان را به شما میدهد تا بتوانید سایر
                        قسمتهای پیشرفته این ماشین حساب نظیر تعریف توابع ، تجزیه و تحلیل ، نمایش و تجزیه توابع علمی و...
                        را به آن اضافه کنید. تعریف و محاسبه فوری توابع تا 5 متغیر ، تجزیه و تحلیل عملکرد
                        همراه با ارائه نتیجه گرافیکی ، وجود کتابخانه توابع کامل برخی از قابلیتهای این نرم افزار است.
                    </p>
                    <a href="{% static 'programs/fxcsetup_en.exe' %}" class="btn btn-primary">دانلود برنامه</a>
                    <a href="{% static 'programs/fxcalc_howto_en.pdf' %}" class="btn btn-primary">دانلود راهنما</a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top img-responsive" src="{% static 'images/tools/Kalkules.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Kalkules 1.11.1.28</h4>
                    <p class="card-text">
                        Kalkules از جمله نرم افزارهای محاسباتی رایگان و فراگیر بوده که
                        عملیات محاسباتی و توابع فراوانی را در بر می گیرد . این نرم افزار که از سافت 98
                        دانلود می کنید قابل استفاده برای دانش آموزان و دانشجویان می باشد . این ماشین حساب
                        ابزار های مناسبی را پیش روی شما قرار می دهد تا محاسبات را راحت تر و سریع تر انجام دهید.
                    </p>
                    <a href="{% static 'programs/kalkules_1_11_1_setup.exe' %}" class="btn btn-primary">دانلود برنامه</a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
    </div>
    <!-- Row -->
    <!-- End Row -->


    <!-- Online-Web based Calculators-->
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <h2 class="d-inline">ماشین‌حساب‌های تحت Web
            </h2>
        </div>
    </div>
    <br>
    <!-- Row -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <div class="embed-responsive" style="width: 85%; height: 85%; object-fit: cover; align-self: center">
                    <img class="card-img-top img-responsive" src="{% static 'images/tools/Bahessab.png' %}"
                     alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">ماشین حساب مهندسی آنلاین علمی پیشرفته باحساب</h4>
                    <p class="card-text">
                        انواع متنوعی از توابع و عملیات ریاضی و علمی در ماشین حساب آنلاین
                        سایت وجود دارد که برای هر عدد مختلط و حقیقی و ...
                        باتوجه به نوع تابع و عملیات مورد نظر قابل استفاده می‌باشند.
                    </p>
                    <a href="https://www.bahesab.ir/calculator/" target="_blank" class="btn btn-primary">لینک</a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <img class="card-img-top img-responsive" src="{% static 'images/tools/web2.0calc.png' %}"
                     alt="Card image cap">
                <div class="card-body">
                    <h4 class="card-title">Web2.0Calc.com</h4>
                    <p class="card-text">
                        این ماشین حساب آنلاین توابع ریاضی کاربردی پایه و پیشرفته را برای مدرسه یا دانشگاه فراهم می‌کند.
                        هم با کیبورد و مووس می‌توان از آن استفاده نمود.
                        دارای دو حالت علمی و برنامه‌نویسی می‌باشد.
                    </p>
                    <a href="https://web2.0calc.com/" target="_blank" class="btn btn-primary">لینک</a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
    </div>
    <!-- Row -->
    <!-- End Row -->

    <!-- Android Calculators-->
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <h2 class="d-inline">ماشین‌حساب‌های تحت Android
            </h2>
        </div>
    </div>
    <br>
    <!-- Row -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <div class="embed-responsive" style="width: 40%; height: 40%; object-fit: cover; align-self: center">
                    <img class="card-img-top img-responsive" src="{% static 'images/tools/RealCalcScientificCalculator.png' %}"
                     alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">RealCalc Scientific Calculator</h4>
                    <p class="card-text">
                        RealCalc به گونه‌ای طراحی شده‌ است که دقیقاً مانند
                        یک ماشین حساب دستی واقعی کار کند. دارای کلیه عملکردهای علمی استاندارد به
                        علاوه تاریخ ، تاریخچه ، تبدیل واحد و ثابت‌ها است. می‌توانید تعدادی از سبک‌ها و قالب‌های
                        نمایش را انتخاب کنید. همچنین از محاسبات مبنای ۲، ۸ و ۱۶ پشتیبانی می‌کند
                        و حالت RPN اختیاری دارد. RealCalc آسان برای استفاده است ، و حاوی Help کامل در برنامه است.
                    </p>
                    <a href="https://play.google.com/store/apps/details?id=uk.co.nickfines.RealCalc&hl=en"
                       target="_blank" class="btn btn-primary">لینک Google Play</a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <div class="embed-responsive" style="width: 37%; height: 37%; object-fit: cover; align-self: center">
                    <img class="card-img-top img-responsive" src="{% static 'images/tools/HiPERScientificCalculator.png' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">HiPER Scientific Calculator</h4>
                    <p class="card-text">
                        در این ماشین حساب، می توانید عبارات را به روشی طبیعی بنویسید و
                        محاسبات خود را تماشا کنید. نتیجه به صورت یک عدد ، بیان ساده و غیره نمایش داده می شود.
                        کاربران می توانند از چندین تم با کیفیت بالا استفاده کنند.
                        <br>
                        این ماشین حساب تنظیمات بسیاری برای مدیریت حالت تمام صفحه، اعشار و جداکننده ارقام و غیره دارد.
                        همه ویژگی ها در Help داخلی توصیف شده‌اند.


                    </p>
                    <a href="https://play.google.com/store/apps/details?id=cz.hipercalc&hl=en_US"
                       target="_blank" class="btn btn-primary">لینک Google Play</a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
    </div>
    <!-- Row -->
    <!-- End Row -->

    <!-- iOS Calculators-->
    <!-- Row -->
    <div class="row">
        <div class="col-12">
            <h2 class="d-inline">ماشین‌حساب‌های تحت Apple iOS
            </h2>
        </div>
    </div>
    <br>
    <!-- Row -->
    <div class="row">
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <div class="embed-responsive" style="width: 100%; height: 100%; object-fit: cover; align-self: center">
                    <img class="card-img-top img-responsive" src="{% static 'images/tools/iphone_calculator_wide.jpg' %}"
                     alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">iPhone: iOS and the Hidden Scientific Calculator</h4>
                    <p class="card-text">
                        ماشین حساب iOS در حالت ایستاده، یک ماشین حساب عادی است.
                        <br>
                        برای استفاده از حالت پیشرفته، کافی است گوشی را چرخانده و در حالت افقی نگه داریم.
                    </p>

                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
        <!-- column -->
        <div class="col-lg-3 col-md-6">
            <!-- Card -->
            <div class="card">
                <div class="embed-responsive" style="width: 45%; height: 45%; object-fit: cover; align-self: center">
                    <img class="card-img-top img-responsive" src="{% static 'images/tools/fxCG500iOS.jpg' %}"
                        alt="Card image cap">
                </div>
                <div class="card-body">
                    <h4 class="card-title">CASIO fx-CG500</h4>
                    <p class="card-text">
                        این نرم‌افزار ماشین حساب Casio fx-CG500 را بطور نرم‌افزاری در اختیار شما قرار می‌دهد و از تمامی
                        قابلیت‌های آن می‌توانید در گوشی خود بهره ببرید.
                        با استفاده از آن می‌توانید محاسبات اعداد مختلط را انجام داده، گراف رسم کنید و مسایل جبری را حل نمایید.
                    </p>
                    <a href="https://apps.apple.com/us/app/casio-fx-cg500/id1256306989"
                       target="_blank" class="btn btn-primary">لینک Apple App Store</a>
                </div>
            </div>
            <!-- Card -->
        </div>
        <!-- column -->
    </div>
    <!-- Row -->
    <!-- End Row -->

{% endblock %}